In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dask.dataframe as ddf
from pandas import Series, DataFrame
%matplotlib inline

In [2]:
import seaborn as sn
import plotly.express as px
dtype={'Zipcode': 'float', 'Assault': 'float', 'Total Violent Crime': 'float', 'Theft': 'float', 
                                                                  'Total Property Crime': 'float', 'Total “Other” Rate': 'float', 'Vandalism': 'float'}

In [5]:
ur_files = ddf.read_csv(r"CrimeGradeData/CrimeGrade_*.csv")
#convert site ID to string
df_total = ur_files.compute(drop=True)
df_total.head()

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+----------------------+--------+----------+
| Column               | Found  | Expected |
+----------------------+--------+----------+
| Theft                | object | float64  |
| Total Property Crime | object | float64  |
+----------------------+--------+----------+

The following columns also raised exceptions on conversion:

- Theft
  ValueError("could not convert string to float: '7,123'")
- Total Property Crime
  ValueError("could not convert string to float: '7,153'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'Theft': 'object',
       'Total Property Crime': 'object'}

to the call to `read_csv`/`read_table`.

In [4]:
city = 'lake-city-wa'
city_new = city.split('-')
city_new = ' '.join(city_new)
city_new

'lake city wa'

In [5]:
city_new[:-3]

'lake city'

In [6]:
city_new[-2:].upper()

'WA'

In [7]:
def getState(city):
    state = city[-2:]
    state = state.upper()
    return state

In [8]:
def getCity(city):
    city_new = city.split('-')
    city_new = ' '.join(city_new)
    newCity = city_new[:-3]
    return newCity

In [9]:
city = ["mc moterrr WA", 'mc bellevue WS']
for ele in city:
    if ele.startswith('mc '):
        ele = ele.replace('mc ', 'mc')
        print(ele)
        
city

mcmoterrr WA
mcbellevue WS

['mc moterrr WA', 'mc bellevue WS']

In [10]:
df_total['State'] = df_total['City'].apply(getState)
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Violent Crime Grade,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,A,6.872,A,6.047,B,13.760,A,16820,aaronsburg-pa,PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,D,20.55,D,23.23,D,48.280,D,36310,abbeville-al,AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,90.36,F,14.14,D,113.605,F,31001,abbeville-ga,GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,C,68.84,F,9.426,C,81.774,F,70510,abbeville-la,LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,C,68.84,F,9.426,C,81.774,F,70511,abbeville-la,LA

In [11]:
df_total['City'] = df_total['City'].apply(getCity)
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Violent Crime Grade,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,A,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,D,20.55,D,23.23,D,48.280,D,36310,abbeville,AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,90.36,F,14.14,D,113.605,F,31001,abbeville,GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,C,68.84,F,9.426,C,81.774,F,70510,abbeville,LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,C,68.84,F,9.426,C,81.774,F,70511,abbeville,LA

In [12]:
df_total['Address'] = df_total['City'] + ' ' + df_total['State']

In [13]:
df_total['Address'] = df_total["Address"].replace("mc ", "mc", regex=True)
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70511,abbeville,LA,abbeville LA

In [14]:
df_detailed = df_total.drop(df_total.columns[[13, 14, 15, 16, 17, 18, 19, 20]], axis = 1)
df_detailed.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,Vandalism,Identity Theft,Animal Cruelty,Zipcode,City,State,Address
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,3.829,1.5140,0.0063,16820,aaronsburg,PA,aaronsburg PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,17.12,0.7516,0.1409,36310,abbeville,AL,abbeville AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,1.868,0.7889,0.0174,31001,abbeville,GA,abbeville GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,6.494,0.8652,0.0222,70510,abbeville,LA,abbeville LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,6.494,0.8652,0.0222,70511,abbeville,LA,abbeville LA

In [15]:
df_total['Address'] = df_total['City'] + ' ' + df_total['State']
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70511,abbeville,LA,abbeville LA

In [16]:
df_summary = df_total.iloc[:, -11:]
df_summary.head()

,Total Violent Crime Grade,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address
0,A,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA
1,D,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL
2,F,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA
3,C,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA
4,C,68.84,F,9.426,C,81.774,F,70511,abbeville,LA,abbeville LA

In [17]:
df_summary.shape

(41925, 11)

In [18]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent = "crime")

location = geolocator.geocode('Bellevue WA',language='en')

loc_dict = location.raw
county = loc_dict['display_name'].split(',')[1]
county = county.split(' ')[1]
print(county)

King

In [19]:
df_city = df_summary.drop(['Zipcode'], axis = 1)
df_city = df_city.drop_duplicates()
df_city.head()

,Total Violent Crime Grade,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,City,State,Address
0,A,6.872,A,6.047,B,13.7600,A,aaronsburg,PA,aaronsburg PA
1,D,20.55,D,23.23,D,48.2800,D,abbeville,AL,abbeville AL
2,F,90.36,F,14.14,D,113.6050,F,abbeville,GA,abbeville GA
3,C,68.84,F,9.426,C,81.7740,F,abbeville,LA,abbeville LA
5,A,23.10,D,11.45,C,35.5301,C-,abbeville,MS,abbeville MS

In [20]:
def getCounty(city):
    try:
        location = geolocator.geocode(city,language='en')
        loc_dict = location.raw
        county = loc_dict['display_name'].split(',')[1]
        return county
    except Exception as e:
        print(city, e)

In [21]:
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70511,abbeville,LA,abbeville LA

In [22]:
df_total['Address'] = df_total["Address"].replace("mc ", "mc", regex=True)
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70511,abbeville,LA,abbeville LA

In [23]:
#df_total['County'] = df_total['Address'].apply(getCounty)
#df_total.head()

In [24]:
df_dict = {f'df{i}': d for i, (g, d) in enumerate(df_total.groupby('State'))}
df_dict.keys()

dict_keys(['df0', 'df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14', 'df15', 'df16', 'df17', 'df18', 'df19', 'df20', 'df21', 'df22', 'df23', 'df24', 'df25', 'df26', 'df27', 'df28', 'df29', 'df30', 'df31', 'df32', 'df33', 'df34', 'df35', 'df36', 'df37', 'df38', 'df39', 'df40', 'df41', 'df42', 'df43', 'df44', 'df45', 'df46', 'df47', 'df48', 'df49', 'df50', 'df51'])

In [25]:
df0 = df_dict['df0']
df1 = df_dict['df1']
df2 = df_dict['df2']
df3 = df_dict['df3']
df4 = df_dict['df4']
df5 = df_dict['df5']
df6 = df_dict['df6']
df7 = df_dict['df7']
df8 = df_dict['df8']
df9 = df_dict['df9']
df10 = df_dict['df10']
df11 = df_dict['df11']
df12 = df_dict['df12']
df13 = df_dict['df13']
df14 = df_dict['df14']
df15 = df_dict['df15']
df16 = df_dict['df16']
df17 = df_dict['df17']
df18 = df_dict['df18']
df19 = df_dict['df19']
df20 = df_dict['df20']
df21 = df_dict['df21']
df22 = df_dict['df22']
df23 = df_dict['df23']
df24 = df_dict['df24']
df25 = df_dict['df25']
df26 = df_dict['df26']
df27 = df_dict['df27']
df28 = df_dict['df28']
df29 = df_dict['df29']
df30 = df_dict['df30']
df31 = df_dict['df31']
df32 = df_dict['df32']
df33 = df_dict['df33']
df34 = df_dict['df34']
df35 = df_dict['df35']
df36 = df_dict['df36']
df37 = df_dict['df37']
df38 = df_dict['df38']
df39 = df_dict['df39']
df40 = df_dict['df40']
df41 = df_dict['df41']
df42 = df_dict['df42']
df43 = df_dict['df43']
df44 = df_dict['df44']
df45 = df_dict['df45']
df46 = df_dict['df46']
df47 = df_dict['df47']
df48 = df_dict['df48']
df49 = df_dict['df49']
df50 = df_dict['df50']
df51 = df_dict['df51']

In [27]:
ur_files = ddf.read_csv("zip_county.csv", dtype={'zip': 'object', 'county': 'object'})
#convert site ID to string
zip_county = ur_files.compute(drop=True)
zip_county.head()

,zip,county,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,00683,72125,SAN GERMAN,PR,0.953036,0.996656,0.980769,0.956300
1,00683,72079,SAN GERMAN,PR,0.000949,0.000000,0.000000,0.000873
2,00683,72023,SAN GERMAN,PR,0.000791,0.001115,0.000000,0.000800
3,00683,72097,SAN GERMAN,PR,0.000158,0.000000,0.000000,0.000145
4,00683,72121,SAN GERMAN,PR,0.045066,0.002230,0.019231,0.041882

In [28]:
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA
3,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,68.84,F,9.426,C,81.774,F,70511,abbeville,LA,abbeville LA

In [29]:
zipTable= zip_county.rename(columns = {'zip': 'Zipcode'})
zipTable.head()

,Zipcode,county,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,00683,72125,SAN GERMAN,PR,0.953036,0.996656,0.980769,0.956300
1,00683,72079,SAN GERMAN,PR,0.000949,0.000000,0.000000,0.000873
2,00683,72023,SAN GERMAN,PR,0.000791,0.001115,0.000000,0.000800
3,00683,72097,SAN GERMAN,PR,0.000158,0.000000,0.000000,0.000145
4,00683,72121,SAN GERMAN,PR,0.045066,0.002230,0.019231,0.041882

In [30]:
df_total = df_total.merge(zipTable[['Zipcode', 'county']], on = 'Zipcode', how = 'left')
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address,county
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL,01067
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13017
3,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13315
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA,22113

In [31]:
df = df_total[df_total['Zipcode'] == '00683']
df

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address,county
35667,1.019,0.6661,0.0635,0.1988,5.531,1.073,1.96,0.7751,1.521,21.55,...,B,44.89,F,56.176,D-,00683,san german,PR,san german PR,72125
35668,1.019,0.6661,0.0635,0.1988,5.531,1.073,1.96,0.7751,1.521,21.55,...,B,44.89,F,56.176,D-,00683,san german,PR,san german PR,72079
35669,1.019,0.6661,0.0635,0.1988,5.531,1.073,1.96,0.7751,1.521,21.55,...,B,44.89,F,56.176,D-,00683,san german,PR,san german PR,72023
35670,1.019,0.6661,0.0635,0.1988,5.531,1.073,1.96,0.7751,1.521,21.55,...,B,44.89,F,56.176,D-,00683,san german,PR,san german PR,72097
35671,1.019,0.6661,0.0635,0.1988,5.531,1.073,1.96,0.7751,1.521,21.55,...,B,44.89,F,56.176,D-,00683,san german,PR,san german PR,72121

#### violent crime: Murder, Rape, Assault, Robbery;
#### property crime: Theft, Vehicle theft, Burglary, Arson;
#### Other crimes: Vandalism, Drug crimes, Identity theft, Kidnapping, Animal Cruelty

In [32]:
df_total.columns

Index(['Assault', 'Robbery', 'Rape', 'Murder', 'Theft', 'Vehicle Theft',
       'Burglary', 'Arson', 'Kidnapping', 'Drug Crimes', 'Vandalism',
       'Identity Theft', 'Animal Cruelty', 'Total Violent Crime',
       'Total Violent Crime Grade', 'Total Property Crime',
       'Total Property Crime Grade', 'Total “Other” Rate',
       'Total “Other” Rate Grade', 'Total Crime', 'Total Crime Grade',
       'Zipcode', 'City', 'State', 'Address', 'county'],
      dtype='object')

In [64]:
df_total = df_total[df_total['State'] != 'PR']

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address,county
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL,01067
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13017
3,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13315
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA,22113

In [65]:
df_total = df_total[df_total['State'] != 'DC']
df_total.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,...,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address,county
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,...,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,...,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL,01067
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13017
3,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,...,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13315
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,...,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA,22113

In [ ]:
df_total

In [33]:
df_violent = df_total.drop(df_total.columns[[4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 20]], axis = 1)
df_violent.head()

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address,county
0,0.3893,0.0751,0.3315,0.0451,0.8410,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,3.300,0.7257,0.4133,0.0609,4.500,D,36310,abbeville,AL,abbeville AL,01067
2,6.971,1.8450,0.2616,0.0273,9.105,F,31001,abbeville,GA,abbeville GA,13017
3,6.971,1.8450,0.2616,0.0273,9.105,F,31001,abbeville,GA,abbeville GA,13315
4,2.364,0.6210,0.4421,0.0807,3.508,C,70510,abbeville,LA,abbeville LA,22113

In [34]:
df_property = df_total.drop(df_total.columns[[0, 1, 2, 3, 8, 9, 10, 11, 12,13, 14, 17, 18, 19, 20]], axis = 1)
df_property.head()

,Theft,Vehicle Theft,Burglary,Arson,Total Property Crime,Total Property Crime Grade,Zipcode,City,State,Address,county
0,3.027,0.7065,3.127,0.0110,6.872,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,10.81,0.5586,9.105,0.0689,20.55,D,36310,abbeville,AL,abbeville AL,01067
2,81.18,1.9650,7.039,0.1730,90.36,F,31001,abbeville,GA,abbeville GA,13017
3,81.18,1.9650,7.039,0.1730,90.36,F,31001,abbeville,GA,abbeville GA,13315
4,57.74,2.5360,8.456,0.1083,68.84,F,70510,abbeville,LA,abbeville LA,22113

In [35]:
df_other = df_total.drop(df_total.columns[[0, 1, 2, 3, 4, 5, 6, 7, 13, 14,15, 16, 19, 20]], axis = 1)
df_other.head()

,Kidnapping,Drug Crimes,Vandalism,Identity Theft,Animal Cruelty,Total “Other” Rate,Total “Other” Rate Grade,Zipcode,City,State,Address,county
0,0.2651,0.433,3.829,1.5140,0.0063,6.047,B,16820,aaronsburg,PA,aaronsburg PA,42027
1,0.1354,5.078,17.12,0.7516,0.1409,23.23,D,36310,abbeville,AL,abbeville AL,01067
2,0.6977,10.770,1.868,0.7889,0.0174,14.14,D,31001,abbeville,GA,abbeville GA,13017
3,0.6977,10.770,1.868,0.7889,0.0174,14.14,D,31001,abbeville,GA,abbeville GA,13315
4,0.1282,1.916,6.494,0.8652,0.0222,9.426,C,70510,abbeville,LA,abbeville LA,22113

In [36]:
df_summary = df_total.iloc[:, -13:]
df_summary.head()

,Total Violent Crime,Total Violent Crime Grade,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address,county
0,0.8410,A,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,4.500,D,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL,01067
2,9.105,F,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13017
3,9.105,F,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13315
4,3.508,C,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA,22113

In [37]:
df_detailed = df_total.drop(df_total.columns[[13, 14, 15, 16, 17, 18, 19, 20]], axis = 1)
df_detailed.head()

,Assault,Robbery,Rape,Murder,Theft,Vehicle Theft,Burglary,Arson,Kidnapping,Drug Crimes,Vandalism,Identity Theft,Animal Cruelty,Zipcode,City,State,Address,county
0,0.3893,0.0751,0.3315,0.0451,3.027,0.7065,3.127,0.0110,0.2651,0.433,3.829,1.5140,0.0063,16820,aaronsburg,PA,aaronsburg PA,42027
1,3.300,0.7257,0.4133,0.0609,10.81,0.5586,9.105,0.0689,0.1354,5.078,17.12,0.7516,0.1409,36310,abbeville,AL,abbeville AL,01067
2,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,1.868,0.7889,0.0174,31001,abbeville,GA,abbeville GA,13017
3,6.971,1.8450,0.2616,0.0273,81.18,1.9650,7.039,0.1730,0.6977,10.770,1.868,0.7889,0.0174,31001,abbeville,GA,abbeville GA,13315
4,2.364,0.6210,0.4421,0.0807,57.74,2.5360,8.456,0.1083,0.1282,1.916,6.494,0.8652,0.0222,70510,abbeville,LA,abbeville LA,22113

## Analyze violence crimes in county level

In [38]:
df_violent.head()

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address,county
0,0.3893,0.0751,0.3315,0.0451,0.8410,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,3.300,0.7257,0.4133,0.0609,4.500,D,36310,abbeville,AL,abbeville AL,01067
2,6.971,1.8450,0.2616,0.0273,9.105,F,31001,abbeville,GA,abbeville GA,13017
3,6.971,1.8450,0.2616,0.0273,9.105,F,31001,abbeville,GA,abbeville GA,13315
4,2.364,0.6210,0.4421,0.0807,3.508,C,70510,abbeville,LA,abbeville LA,22113

In [39]:
df_violent.agg(['max', 'min'])

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address
max,9.998,153.6000,22.9600,4.3040,95.49,F,99950,zwolle,WY,zwolle LA
min,0.0031,0.0001,0.0557,0.0018,0.2279,A,00501,aaronsburg,AK,aaronsburg PA

In [40]:
df_A = df_violent[df_violent['Total Violent Crime Grade'] == 'A' ]
df_A

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address,county
0,0.3893,0.0751,0.3315,0.0451,0.8410,A,16820,aaronsburg,PA,aaronsburg PA,42027
6,0.5765,0.1602,0.1664,0.0770,0.9801,A,38601,abbeville,MS,abbeville MS,28071
9,0.0249,0.6940,0.3188,0.0151,1.053,A,04406,abbot,ME,abbot ME,23021
10,1.019,0.0573,0.3762,0.0153,1.468,A,54405,abbotsford,WI,abbotsford WI,55073
11,1.019,0.0573,0.3762,0.0153,1.468,A,54405,abbotsford,WI,abbotsford WI,55019
...,...,...,...,...,...,...,...,...,...,...,...
56668,0.7641,0.2206,0.2516,0.0259,1.262,A,31017,danville,GA,danville GA,13023
56678,0.8133,0.0134,0.3696,0.0020,1.198,A,03819,danville,NH,danville NH,33015
56679,0.4708,0.2736,0.4401,0.0175,1.202,A,43014,danville,OH,danville OH,39083
56690,0.9219,0.0187,0.4405,0.0048,1.386,A,05828,danville,VT,danville VT,50005
56691,0.1312,0.4538,0.4745,0.0272,1.087,A,99121,danville,WA,danville WA,53019

In [41]:
df_A = df_violent[df_violent['Total Violent Crime Grade'] == 'A' ]
df_A.agg(['max', 'min'])

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address
max,1.236,1.1690,0.7605,0.664,1.542,A,99363,zuni,WY,zuni VA
min,0.0031,0.0001,0.0557,0.002,0.2279,A,00501,aaronsburg,CA,aaronsburg PA

In [42]:
df_B = df_violent[df_violent['Total Violent Crime Grade'] == 'B' ]
df_B.agg(['max', 'min'])

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address
max,2.068,1.8900,1.6310,0.7289,2.416,B,99850,zumbrota,WY,zumbrota MN
min,0.0465,0.0004,0.0581,0.0020,1.542,B,00601,abbott,AK,abbott TX

In [43]:
df_C = df_violent[df_violent['Total Violent Crime Grade'] == 'C' ]
df_C.agg(['max', 'min'])

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address
max,3.377,3.0710,1.7990,1.5520,3.799,C,99950,zwingle,WY,zwingle IA
min,0.0753,0.0029,0.0575,0.0018,2.416,C,00656,abbeville,AK,abbeville LA

In [44]:
df_D = df_violent[df_violent['Total Violent Crime Grade'] == 'D' ]
df_D.agg(['max', 'min'])

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address
max,6.463,5.4620,2.0560,3.175,7.045,D,99929,zwolle,WY,zwolle LA
min,0.1544,0.0015,0.0659,0.002,3.683,D,00738,abbeville,AK,abbeville AL

In [45]:
df_E = df_violent[df_violent['Total Violent Crime Grade'] == 'E' ]
df_E

Empty DataFrame
Columns: [Assault, Robbery, Rape, Murder, Total Violent Crime, Total Violent Crime Grade, Zipcode, City, State, Address, county]
Index: []

In [46]:
df_F = df_violent[df_violent['Total Violent Crime Grade'] == 'F' ]
low = df_F['Total Violent Crime'].agg('min')
df_F.loc[df_F['Total Violent Crime'] == low]

,Assault,Robbery,Rape,Murder,Total Violent Crime,Total Violent Crime Grade,Zipcode,City,State,Address,county
6690,"1,834",1.522,0.5814,1.306,"1,837",F,78021,fowlerton,TX,fowlerton TX,48283

In [47]:
df_summary.head()

,Total Violent Crime,Total Violent Crime Grade,Total Property Crime,Total Property Crime Grade,Total “Other” Rate,Total “Other” Rate Grade,Total Crime,Total Crime Grade,Zipcode,City,State,Address,county
0,0.8410,A,6.872,A,6.047,B,13.760,A,16820,aaronsburg,PA,aaronsburg PA,42027
1,4.500,D,20.55,D,23.23,D,48.280,D,36310,abbeville,AL,abbeville AL,01067
2,9.105,F,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13017
3,9.105,F,90.36,F,14.14,D,113.605,F,31001,abbeville,GA,abbeville GA,13315
4,3.508,C,68.84,F,9.426,C,81.774,F,70510,abbeville,LA,abbeville LA,22113

In [48]:
scoreList = df_summary['Total Crime'].tolist()
for element in scoreList:
    if ',' in str(element):
        print(element)

In [61]:
stateList = df_total['State'].unique()
len(stateList)
stateList.sort()
stateList

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [58]:
statecodes = ["AL","AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", "HI", "ID", "IL", "IN", "IA",
             "KS", "KY", "LA", "ME", "MD","MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", 
              "NY", "NC", "ND", "OH", "OK", "OR", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", 
              "VI", "WA","WV", "WI", "WY"]
len(statecodes)

53

In [53]:
for x in stateList:
    if x not in statecodes:
        print(x)

In [55]:
if x in statecodes:
    if x not in stateList:
        print(x)